body{
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color:#40514E
}
/* ---------------- Containers ---------------- */

.top-container{
    background-color: #E5F9F5;
    text-align: center;
    padding-top: 100px;
}
.middle-container{
    margin: 10px 0;
    margin-bottom: 100px;
}
.bottom-container{
    background-color: #069595;
    margin-top: 100px ;
    margin-bottom: 0;
    padding-top: 50px;
}

/* ---------------- Containers ---------------- */

.copyright{
    margin-bottom: 0;
    padding: 20px;
    color: #EAF6F6;
    font-size:0.95rem;


}

.skill-row{
    margin:100px auto;
    text-align: left;
    line-height: 2;
    width: 60%;
}
.contact-message{
    margin: 50px;
}

h1{
    padding-top:50px;
    font-family: "Sacramento", sans-serif;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.50rem;
    color: #63c2c2;
    font-weight: 400;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight: 700;
    font-size: 1.50rem;
}
hr{
    border: 6px dotted #069595;
    border-top: 0;
    margin: 100px auto;
    width: 20%;
}
a{
    color:#11CDD4;
    text-decoration: none;
    margin:20px;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: #EAF6F6;
}
p{
    font-size: 1.30rem;
}

/* ---------------- Images ---------------- */
.bottom-cloud{
    position: absolute;
    right:70%;
}
.top-cloud{
    position: absolute;
    left:70%;
}
.profile-img{
    /* border-radius: 100%; */
    margin: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}
.coding-img{
    width: 25%;
    float: left;
    margin-right: 20px;
    
}
.creativity-img{
    width: 20%;
    float:right;
    margin-left: 5px;
}
.robot-png{
    width: 20%;
    float:right;
    margin-left: 20px;
}
.engineering-img{
    width: 20%;
    float: left;
    margin-right: 20px;
}
/* ---------------- Images ---------------- */

.buttonClass {
    font-size:20px;
    text-decoration: none;
    font-family:Arial;
    width:140px;
    height:46px;
    border-width:1px;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
    text-shadow: 1px 1px 0px rgba(5, 115, 245, 1);
    background:linear-gradient(rgba(17, 205, 212, 1), rgba(17, 153, 158, 1));
    padding:12px;
        
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(17, 153, 158, 1), rgba(17, 205, 212, 1));
  }

 
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 0 auto ;
  }
  
  .column {
    margin: 0 auto ;   
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }