body{
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color:#40514E
}
h1{
    margin-top:50px;
    font-family: 'Sacramento';
    font-size: 5.625rem;
    color:#66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.50rem;
    color:#66BFBF;
    font-weight: 400;
    padding-bottom: 10px;
}
.Contact-Details{
margin-top: 50px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight: 700;
}
.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
} 
.pro-img{
    border-radius: 100%;
}
.engineering-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.creativity-png{
    width: 20%;
    float: right;
    margin-left: 30px;
}
.robot-png{
    width:25%;
    float: left;
    margin-right:50px;
}

.top-container{
    background-color: #E5F9F5;
    padding-top: 100px;
    position: relative;

}
.bottom-container{
    background-color: #11999E;
    padding:50px 0 20px;
}
a{
    color: #11CDD4;
    font-family: 'Montserrat', sans-serif;
    margin:20px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
} 
.top-cloud{
    position: absolute;
    right: 300px;;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:400px;
    bottom:300px;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
    line-height: 2;
}
.middle-container{
    margin:100px;
}
hr{
    border: dotted 6px #E4F9F5;
    border-bottom:none;
    width:20%;
    margin:100px auto;
}
.contact-message{
    width:50%;
    margin:40px auto 60px auto;
}




.buttonClass {
    font-size:20px;
    text-decoration: none;
    font-family:Arial;
    width:140px;
    height:46px;
    border-width:1px;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
    text-shadow: 1px 1px 0px rgba(5, 115, 245, 1);
    background:linear-gradient(rgba(17, 205, 212, 1), rgba(17, 153, 158, 1));
    padding:8px;
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(17, 153, 158, 1), rgba(17, 205, 212, 1));
  }
                
.copyright{
    color: #EAF6F6;
    font-size:0.75rem;
    padding:20px 0;
}            
                      